{% extends 'base.html' %}
{% block content %}

<h1>Alatas Survival</h1>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

{% if not survival_entries %}
<p>Belum ada data survival entry pada tracker.</p>
{% else %}
<table>
  <tr>
    <th>Nama Barang</th>
    <th>Waktu Masuk</th>
    <th>Harga</th>
    <th>Deskripsi</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data survival entry di bawah baris ini 
  {% endcomment %}
  {% for survival_entry in survival_entries %}
  <tr>
    <td>{{survival_entry.name}}</td>
    <td>{{survival_entry.time}}</td>
    <td>{{survival_entry.price}}</td>
    <td>{{survival_entry.description}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_survival_entry' %}">
  <button>Add New Survival Entry</button>
</a>

{% endblock content %}